In [1]:
# importing the required libraries
import numpy as np  # For array handling and numerical operations
import pandas as pd  # For creating DataFrames and data manipulation

In [4]:
# importing the scrabed data set which has created in the b_data_collection file and saved
df=pd.read_csv("scraped_data.csv")
#checking the data successfuly loaded or not
print(df.head())

           country          cases        death           region
0   United States    111,820,082    1,219,487    North America
1           India     45,035,393      533,570             Asia
2          France     40,138,560      167,642           Europe
3         Germany     38,828,995      183,027           Europe
4          Brazil     38,743,918      711,380    South America

# Data Exploration

In [5]:
# Display the first 5 rows of the DataFrame
print("First 5 rows:")
print(df.head())

First 5 rows:
           country          cases        death           region
0   United States    111,820,082    1,219,487    North America
1           India     45,035,393      533,570             Asia
2          France     40,138,560      167,642           Europe
3         Germany     38,828,995      183,027           Europe
4          Brazil     38,743,918      711,380    South America

In [6]:
# Display the last 5 rows of the DataFrame
print("Last 5 rows:")
print(df.tail())

Last 5 rows:
              country    cases death               region
225             Niue    1,059     0    Australia/Oceania
226          Tokelau       80     0    Australia/Oceania
227         Holy See       29     0               Europe
228   Western Sahara       10     1               Africa
229       MS Zaandam        9     2

In [7]:
# Display the shape of the DataFrame
print("Shape of the DataFrame:", df.shape)

Shape of the DataFrame: (230, 4)

In [8]:
# Check for null values
print("Null value counts:")
print(df.isnull().sum())

Null value counts:
country    0
cases      0
death      0
region     0
dtype: int64

In [9]:
# Summary statistics of numerical columns
print("Summary statistics:")
print(df.describe())

Summary statistics:
                country          cases death    region
count               230            230   230       230
unique              230            230   212         7
top      United States    111,820,082     0    Africa
freq                  1              1     5        58

In [10]:
# Unique value counts per column
print("Unique values per column:")
print(df.nunique())

Unique values per column:
country    230
cases      230
death      212
region       7
dtype: int64

In [11]:
#checking columns type and about null values
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  230 non-null    object
 1   cases    230 non-null    object
 2   death    230 non-null    object
 3   region   230 non-null    object
dtypes: object(4)
memory usage: 7.3+ KB
None

In [12]:
# Value counts for the region column
print("Value counts for region:")
print(df['region'].value_counts())

Value counts for region:
region
Africa                58
Asia                  50
Europe                48
North America         39
Australia/Oceania     20
South America         14
                       1
Name: count, dtype: int64

In [13]:
# Value counts for the country column
print("Value counts for country:")
print(df['country'].value_counts())

Value counts for country:
country
United States      1
India              1
France             1
Germany            1
Brazil             1
                  ..
Niue               1
Tokelau            1
Holy See           1
Western Sahara     1
MS Zaandam         1
Name: count, Length: 230, dtype: int64

In [16]:
#Checking Duplicate values
print(df.duplicated().sum())

0

In [18]:
#checking or counting is there any   hidden string columnwise in the dataframe?
hidden_values= df.map(lambda x: isinstance(x, str) and x.strip() == '')
x= hidden_values.sum()
print(x)

country    0
cases      0
death      0
region     1
dtype: int64